@model Site_Vendinha_InterFocus.Models.Divida

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar divida</h1>

<h3>Tem certeza que quer deletar essa divida?</h3>
<div>
    <h4>Divida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DividaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DividaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDivida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDivida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstaPaga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstaPaga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDePagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDePagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="List">Voltar para lista de dividas</a>
    </form>
</div>
