@model IEnumerable<Site_Vendinha_InterFocus.Models.Divida>

@{
    ViewData["Title"] = "List";
}

<h1>Dívidas cadastradas</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Cadastrar Nova Divida</a>
</p>
<table class="table" id="tableVenda">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValorDivida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstaPaga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDePagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDivida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstaPaga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDePagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeCliente)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.DividaId }) |
                @Html.ActionLink("Details", "Details", new { id=item.DividaId  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.DividaId  })
            </td>
        </tr>
}
    </tbody>
</table>
